[submodule "config/emacs/awesome-tab"]
	path = config/emacs/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
[submodule "config/emacs/lsp-bridge"]
	path = config/emacs/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "config/emacs/site-lisp/lsp-bridge"]
	path = config/emacs/site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "config/emacs/site-lisp/awesome-tab"]
	path = config/emacs/site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
