@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "colors.scss" as *;

.notifications-container {
  border-radius: 10px;
  // color: $on_surface;
  background-color: #{'alpha(' + $theme-bg-color + ', 0.7)'};
  min-width: 350px;

  separator {
    margin: 2px;
    // background-color: $inverse_surface_transparent;
    // color: $inverse_surface_transparent;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .window-header {
    margin-top: 6px;
    padding-bottom: 0;

    .clear {
      padding-right: 0.8rem;
      border-radius: 12px;
      min-width: 10px;
      min-height: 30px;
      // color: $on_surface;

      // background: $inverse_surface_transparent;
      &:hover {
        // color: $primary;

        label {
          // color: $primary;
        }
      }

      label {
        font-size: 1rem;
        // color: $on_surface;
      }
    }

    label {
      margin-left: 1rem;
      font-size: 1rem;
      font-weight: bold;
      // color: $on_surface;
    }
  }

  scrolledwindow viewport>box {
    .not-found label {
      font-size: 1rem;
      // color: $on_surface;
    }

    margin: 10px;
    margin-top: 1px;
  }

  .notification-container {
    border-radius: 20px;
    margin: 5px;
    background-color: #{'alpha(' + $theme-bg-color + ', 0.7)'};
  }
}

.notification-container {
  padding: 8px 16px 14px 20px;
  min-width: 270px;
  border-radius: 20px;
  margin: 10px;
  background-color: #{'alpha(' + $theme-bg-color + ', 0.7)'};
  // border: 1px solid $inverse_surface_transparent;

  &.critical {
    // box-shadow: 0 0 0 0.1rem $theme_unfocused_selected_bg_color;
  }

  .header {
    font-size: 12px;
    // color: $on_surface;

    .time {
      margin-right: 0.5rem;
      font-size: 12px;
      // color: $on_surface;
    }

    .app-icon {
      margin-right: 0.5rem;
    }

    .app-name {
      // color: $on_surface;
    }

    button {
      padding: 0 0.3rem;
      background-color: #{'alpha(' + $theme-bg-color + ', 0.7)'};
      // color: $on_surface;
      border-radius: 100px;

      &:hover {
        // color: $on_primary_fixed;
        // background-color: $primary_fixed;
      }
    }
  }

  separator {
    margin: 0.2rem 0;
    // background-color: $inverse_surface_transparent;
    // color: $inverse_surface_transparent;
  }

  .content {
    margin-bottom: 0.3rem;

    .summary {
      // margin-left: 0.5rem;
      margin-top: 0.5rem;
      font-size: 1rem;
      // color: $on_surface;
      font-weight: 700;
    }

    .body {
      font-size: .8rem;
      // margin-left: 0.5rem;
      // color: $on_surface;
      font-weight: 400;
    }

    .image image {
      // border-radius: 100px;
      border-radius: 10px;
      min-width: 70px;
      min-height: 70px;
      // margin-right: 14px;
      margin-top: 8px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .actions {

    // margin-top: 0.5rem;
    button {
      background: none;
      transition: color 0.1s ease-in-out;
      color: $theme-fg-color;
      border-radius: 100px;

      &:hover {
        // color: $on_primary_container;
        transition: color 0.1s ease-in-out;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.slide-in {
  animation: {
    name: notification-slide-in;
    duration: 0.3s;
    timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}